footer{
    z-index: 60;
    .container{
        border-top: 1px solid var(--dark-color);
        padding: 15px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        margin-bottom: 60px;
        p{
            font-size: .9rem;
        }
    }
    .socials{
        display: flex;
        gap: 15px;
        img{
            height: 25px;            
            width: 25px;
            transition: all .3s ease;

            &:hover{
                filter: brightness(0) saturate(100%) invert(70%) sepia(34%) saturate(716%) hue-rotate(50deg) brightness(90%) contrast(94%);
            }
        }
    }
}