@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --primary-color:#187c4d;
    --primary-color2:#BDF6BA;
    --color3:#7bc143;
    --dark-color: #444444;
    --light-color: #e3e2e1;

    --font1: "Inter", sans-serif;
    --font2: "Manrope", sans-serif;    
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  scroll-behavior: smooth;
  // transition: all .1s ease-in-out;
}

html,
body{
  font-family: var(--font1);
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}
img{
  height: 100%;
  width: 100%;
}

p{    
  font-size: clamp(.9rem, 5vw, 1.1rem);
  margin-bottom: 1rem;
  color: var(--dark-color);
}

.btn-primary{
  width: fit-content;
  font-family: var(--font2);
  padding: 20px 34px;    
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid var(--dark-color);
  background: var(--primary-color2);    
  font-weight: 500;
  cursor: pointer;
  font-size: .8rem;
  transition: 0.3s ease-in-out;
  
  
  &.nav{
      font-size: .9rem;
      margin-left: 15px;
      &:hover{
          color: white;
      }
  }
}

.container{
  max-width: 1215px;
  width: 100%;
  margin: 100px auto 120px;
  padding: 0 15px;    

  @media (width < 800px){
    margin: 80px 0;
  }
}

.stroke-title{
  color: transparent;
  font-size: 2.5rem;    
  font-weight: 600;
  -webkit-text-stroke: 1.5px rgb(66, 66, 65);    
  text-transform: uppercase;
  margin-bottom: 35px;
  transition: 0.2s ease-in-out;   

  &::before{
      content: "\002B"; 
      transform: translate(-50%, -50%);               
  }

  &:hover{
      color: rgb(66, 66, 65);
  }
}

/* whatsapp */

.cbh-phone {
  position: fixed;
  left: -45px;
  bottom: -55px;
  visibility: hidden;
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 55;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  .ri-whatsapp-line{
      font-size: 45px;
      color: white;
  }
}


.cbh-phone.cbh-show {
  visibility: visible
}

#kmacb {
  position: fixed;
  display: none;
  background-color: transparent;
  width: 160px;
  height: 160px;
  z-index: 200000!important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 15px;
  bottom: 15px;
}

@-webkit-keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0)
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0)
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
  }
}

@-webkit-keyframes fadeInRightBig {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0)
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
  }
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight
}

.cbh-phone.cbh-static1 {
  opacity: 0.6;
}

.cbh-phone.cbh-hover1 {
  opacity: 1;
}

.cbh-ph-circle {
  width: 110px;
  height: 110px;
  top: 40px;
  left: 40px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  -webkit-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -o-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cbh-phone.cbh-active .cbh-ph-circle1 {
  -webkit-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  -moz-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  -ms-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  -o-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
  animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
}

.cbh-phone.cbh-static .cbh-ph-circle {
  -webkit-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  -moz-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  -ms-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  -o-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
  animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
}

.cbh-ph-circle-fill {
  width: 74px;
  height: 74px;
  top: 58px;
  left: 58px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cbh-phone.cbh-active .cbh-ph-circle-fill {
  -webkit-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  -moz-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  -ms-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  -o-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
  animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
}

.cbh-phone.cbh-static .cbh-ph-circle-fill {
  -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
  opacity: 0 !important;
}

.cbh-ph-img-circle1 {
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  position: absolute;
  background-size: 40px 40px;
  background-color: rgba(30, 30, 30, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 1;
  -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -o-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  animation: cbh-circle-img-anim 1s infinite ease-in-out;
}

.cbh-ph-img-circle1 .fa {
  color: #fff;
  text-align: center;
  font-size: 36px;
  margin-left: 8px;
  margin-top: 5px;
}

.cbh-phone.cbh-active .cbh-ph-img-circle1 {
  -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  -o-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
  animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
}

.cbh-phone.cbh-static .cbh-ph-img-circle1 {
  -webkit-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  -moz-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  -ms-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  -o-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
  animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
}

@-moz-keyframes cbh-circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: 0.1;
    -moz-opacity: 0.1;
    -webkit-opacity: 0.1;
    -o-opacity: 0.1;
  }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    -o-opacity: 0.5;
  }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    -o-opacity: 0.1;
  }
}

@-webkit-keyframes cbh-circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}

@-o-keyframes cbh-circle-anim {
  0% {
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
    -o-opacity: 0.1;
  }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: 0.5;
  }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: 0.1;
  }
}

@keyframes cbh-circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-moz-keyframes cbh-circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes cbh-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-o-keyframes cbh-circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes cbh-circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes cbh-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  100%,
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-moz-keyframes cbh-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }
  100%,
  50% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes cbh-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  100%,
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-o-keyframes cbh-circle-img-anim {
  0% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }
  100%,
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

.cbh-phone.cbh-green .cbh-ph-circle {
  border-color: rgb(0, 224, 86);
}

.cbh-phone.cbh-green .cbh-ph-circle-fill {
  background-color: rgb(0, 224, 86);
}

.cbh-phone.cbh-green .cbh-ph-img-circle1 {
  background-color: rgb(0, 224, 86);
}

.swiper{
  .swiper-button-prev,
  .swiper-button-next{
    border: 1px solid green;
    color: white;      
    padding: 15px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background:green;
    transition: all .3s ease;

    &:hover{
      background: white;
      color: green;
    }
  }
}
.fadeIn,
.slide-contents.fadeIn{
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;  
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(22px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader{
  height: 100vh;
  width: 100%;
  z-index: 99;
  background: var(--primary-color2);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    height: 90px;
    object-fit: contain;
    animation: pulse 1.5s infinite ease-in-out; /* optional effect */

    @media (width < 800px){
      height: 40px;
    }
  }

  &.hide{    
    animation: hide 1.2s forwards ease-in-out;
  }  
}
@keyframes pulse {
  0% {
    transform: scale(0.9) translateY(0);
    opacity: 0.6;
  }
  25% {
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  50% {
    transform: scale(1) translateY(0);
    opacity: 0.9;
  }
  75% {
    transform: scale(1.05) translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: scale(0.9) translateY(0);
    opacity: 0.6;
  }
}
@keyframes hide{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
} 


.scrollToTop{
  position: fixed;
  bottom: -60px;
  right: 20px;
  height: 60px;
  width: 60px;
  // background: var(--primary-color);
  border-radius: 50%;
  padding: 5px;
  z-index: 90;
  transition: all .3s ease-in-out;
  cursor: pointer;

  span{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: var(--primary-color2);
    padding: 15px;
    img{
      filter: brightness(0) saturate(100%) invert(37%) sepia(19%) saturate(1533%) hue-rotate(99deg) brightness(98%) contrast(92%);
      transform: rotate(-90deg);
      height: 100%;
      width: 100%;        
    }
  }

  &.btn-up{
    bottom: 20px;
  }
}