.product-single{
    .content-split{
        display: flex;        
        gap: 50px;

        .left{            
            width: 40%;            
            height: fit-content;
            position: sticky;
            top: 150px;
            .image-container{
                border-radius: 18px;
                overflow: hidden;
                box-shadow: 0 2px 12px rgba(20, 40, 60, 0.10);
            }
            .thumb{
                margin-top: 12px;
                img{
                    cursor: pointer;
                    height: 80px;
                    width: 80px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 18px;
                    overflow: hidden;
                    box-shadow: 0 2px 12px rgba(20, 40, 60, 0.10);
                    transition: all .3s ease;

                    &:hover{
                        transform: translateY(-2px);
                        box-shadow: 0 2px 12px rgb(24, 124, 77);
                    }
                }
            }
        }
        .right{
            border-radius: 18px;
            padding: 30px;
            box-shadow: 0 2px 12px rgba(20, 40, 60, 0.10);
            flex: 1 0 0;

            color: var(--primary-color);

            h2{
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 25px;
            }
            .price{
                .old{
                    color: var(--dark-color);
                    opacity: .5;
                    text-decoration: line-through;
                    margin-bottom: 8px;
                }
                .current{
                    margin-bottom: 25px;
                    span{
                        display: inline-block;
                        &:first-of-type{
                            padding: 10px 16px;
                            background: var(--primary-color2);
                            border-radius: 8px;
                        }
                        &:last-of-type{
                            margin-left: 12px;
                        }
                    }
                }

            }
            .action-group{
                display: grid;
                gap: 15px;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                margin-bottom: 35px;
                .btn-primary{
                    width: 100%;
                    text-align: center;
                    border: none;
                    &.green{
                        border: none;
                        border-radius: 4px;
                        background: var(--primary-color);
                        color: white;
                    }
                    &.gray{
                        border:1px solid var(--primary-color);
                        border-radius: 4px;
                        background: #E3E2E1;
                    }
                    
                }
            }

            hr{
                margin: 35px 0;
                opacity: .3;
            }

            .title{
                font-size: 1.2rem;
                font-weight: 500;
                text-transform: uppercase;
                border-bottom: 1px solid var(--primary-color);
                width: fit-content;
                padding-bottom: 6px;
                margin-bottom: 12px;
            }
            .text{
                font-size: 1.1rem;
                margin-bottom: 35px;
                line-height: 1.3;

                ul{
                    margin-left: 15px;
                }

                .calories{
                    background: var(--light-color);
                    margin-bottom: 3px;
                    // max-width: 400px;
                    display: flex;
                    justify-content: space-between;
                    padding: 12px;
                    text-transform: capitalize;
                    border-radius: 5px;
                }
            }
        }        

        @media (width < 800px){
            flex-direction: column;
            gap: 25px;
            .left{
                top: 0;
                position: relative;
                width: 100%;
            }
            .right{
                border-radius: 18px;
                padding: 12px;
            }
        }
    }
}